<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Chepita Royal :::.. Restaurante de Comida Chiclayana</title>
<style type="text/css">
<!--
@import url("CSS/css.css");
//@import url("CSS/principal.css");
-->
</style>
</head>

<body>
<table width="1009" border="0" align="center" cellpadding="0" cellspacing="0" class="contenido">
<tr>
  <td colspan="3">
   
      <table width="1010" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><div class="Header" id="header"><img src="Im&aacute;genes/logo.jpg" width="1010" height="180" alt="" /></div></td>
        </tr>
        <tr>
          <td><img src="Im&aacute;genes/spacer.gif" width="1010" height="1" alt="" /></td>
        </tr>
    </table></td>
  </tr>
<tr>
  <td width="210"><div class="Menu" id="Menu"><table width="210" border="0" cellpadding="0" cellspacing="0" class="barramenu">
      <tr>
        <td><img src="Im&aacute;genes/AdornoArriba.jpg" alt="" width="210" height="50" align="absbottom" /></td>
      </tr>
	   <tr>
        <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
      </tr>
      <tr>
        <td class="links"><a href="indexHTML.htm">INICIO</a></td>
      </tr>
      <tr>
        <td class="links"><a href="RegistrarVentas.htm">REGISTRAR VENTAS </a></td>
      </tr>
      <tr>
        <td class="links"><a href="RevisarStock.htm">REVISAR STOCK </a></td>
      </tr>
    
      <tr>
        <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
      </tr>
	   <tr>
        <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
      </tr>
      <tr>
        <td><form id="form1" name="form1" method="post" action="">
          <table width="210" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="2">ACCEDA A SU CUENTA </td>
              </tr>
            <tr>
              <td>Usuario:</td>
              <td><label for="textfield"></label>
                <input name="textfield" type="text" id="textfield" size="17" /></td>
            </tr>
            <tr>
              <td><label for="label2">Contraseña:</label></td>
              <td><label for="label"></label>
                <input name="textfield2" type="text" id="label" size="17" /></td>
            </tr>
            <tr>
              <td colspan="2"><input name="Aceptar" type="submit" id="Aceptar" value="Aceptar" /></td>
              </tr>
            <tr>
              <td colspan="2">¿Olvidó su contraseña?</td>
              </tr>
            <tr class="texto3">
              <td colspan="2"><a href="registrar usuario.html">Registrar usuario </a></td>
            </tr>
          </table>
                </form>        </td>
      </tr>
    </table>
</div></td>
  <td width="45" rowspan="3"><img src="Im&aacute;genes/spacer.gif" width="45" height="1" alt="" /></td>
  <td width="755" rowspan="3">&nbsp;</td>
</tr>
 <tr>
        <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
      </tr>

<tr>
  <td><div class="adorno1" id="adorno"><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></div></td>
</tr>
<tr>
<td><div class="TarjetasDiv" id="TarjetaDiv"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tarjetas">
    <tr>
      <td colspan="5" class="texto3">Aceptamos:</td>
      </tr>
    <tr>
      <td></td>
      <td width="36%"><div class="fotitos" id="visa"><img src="Im&aacute;genes/visa.jpg" width="62" height="50" alt="" /></div></td>
      <td></td>
      <td width="35%"><div class="fotitos" id="mastercard"><img src="Im&aacute;genes/mastercad.jpg" width="62" height="50" alt="" /></div></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><div class="fotitos" id="amExpress"><img src="Im&aacute;genes/americanExpress.jpg" width="62" height="50" alt="" /></div></td>
      <td></td>
      <td><div class="fotitos" id="afiliateVisa"><img src="Im&aacute;genes/afiliate_banco_m.gif" width="62" height="50" alt="" /></div></td>
      <td></td>
      </tr>
    <tr>
      <td><img src="Im&aacute;genes/spacer.gif" width="20" height="1" alt="" /></td>
      <td><img src="Im&aacute;genes/spacer.gif" width="75" height="1" alt="" /></td>
      <td><img src="Im&aacute;genes/spacer.gif" width="10" height="1" alt="" /></td>
      <td><img src="Im&aacute;genes/spacer.gif" width="75" height="1" alt="" /></td>
      <td><img src="Im&aacute;genes/spacer.gif" width="20" height="1" alt="" /></td>
      </tr>
    </table></div></td>
</tr>
<tr>
  <td colspan="3"><div id="Footer">
    <div id="copyright">Copyright 2011 &copy; <br/>
      Todos los derechos reservados</div>
    <div id="botoneraFooter">Av. Cipriano Dulanto (Ex Av. La Mar) 2376 - Pando San Miguel<br />
      Tel: 5616127 - 5616128 | Nextel:   121 * 4598      </div>
    </div></td>
</tr>
<tr>
  <td colspan="2" id="footer"><img src="Im&aacute;genes/spacer.gif" width="255" height="1" alt="" /></td>
  <td id="footer"><img src="Im&aacute;genes/spacer.gif" width="755" height="1" alt="" /></td>
</tr>
</table>
</body>
</html>
