<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Chompas de Alpaca</title>
<style type="text/css">
<!--
@import url("CSS/css.css");
//@import url("CSS/principal.css");
-->
</style>
</head>

<body>
<table width="1009" border="0" align="center" cellpadding="0" cellspacing="0" class="contenido">
  <tr>
    <td colspan="3"><table width="1010" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><div class="Header" id="header"><img src="Im&aacute;genes/logo.jpg" width="1010" height="180" alt="" /></div></td>
      </tr>
      <tr>
        <td><img src="Im&aacute;genes/spacer.gif" width="1010" height="1" alt="" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="210"><div class="Menu" id="Menu">
      <table width="210" border="0" cellpadding="0" cellspacing="0" class="barramenu">
        <tr>
          <td><img src="Im&aacute;genes/AdornoArriba.jpg" alt="" width="210" height="50" align="absbottom" /></td>
        </tr>
        <tr>
          <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
        </tr>
        <tr>
          <td class="links"><a href="indexHTML.htm">INICIO</a></td>
        </tr>
        <tr>
          <td class="links"><a href="RegistrarVentas.htm">REGISTRAR VENTAS </a></td>
        </tr>
        <tr>
          <td class="links"><a href="RevisarStock.htm">REVISAR STOCK </a></td>
        </tr>
        <tr>
          <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
        </tr>
        <tr>
          <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
        </tr>
        <tr>
          <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
        </tr>
        <tr>
          <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
        </tr>
        <tr>
          <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
        </tr>
      </table>
    </div></td>
    <td width="45" rowspan="3"><img src="Im&aacute;genes/spacer.gif" width="45" height="1" alt="" /></td>
    <td width="755" rowspan="3"><table width="754" height="534" border="0">
  <td valign="top">
  <form id="formVenta" name="form1Venta" method="post" action="">
    <table>
      <tr>
        <td colspan="2"><h1>REGISTRAR VENTAS DEL D&Iacute;A </h1></td>
		  </tr>
      
      <tr>
        <td colspan="2">&nbsp;</td>
        </tr>
          <tr>
        <td width="101">Office</td>
        <td width="636">
            <input type="text" name="Office"  id="Office" maxlength="2" />
        </td>
      </tr>
	        <tr>
        <td>Mid Season </td>
        <td> <input type="text" name="season"  id="season" maxlength="2"/></td>
      </tr>
	        <tr>
        <td>Holmes</td>
        <td> <input type="text" name="holmes"  id="holmes" maxlength="2"/></td>
      </tr>
	        <tr>
        <td>Gigardo</td>
        <td> <input type="text" name="gigardo"  id="gigardo"maxlength="2"/></td>
      </tr>
	        <tr>
	          <td>Anton</td>
	          <td> <input type="text" name="anton"  id="anton" maxlength="2"/></td>
	          </tr>
	        <tr>
        <td>L`Blanc</td>
        <td> <input type="text" name="lblanc"  id="lblanc"maxlength="2"/></td>
      </tr>
	  <tr>
	  <td>
	  <input type="submit" value="Registrar" />
	  </td>
	  </tr>
    </table>
  </form>  </td>
      
    </table></td>
  </tr>
  <tr>
    <td><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></td>
  </tr>
  <tr>
    <td><div class="adorno1" id="adorno"><img src="Im&aacute;genes/AdornoArriba.jpg" width="210" height="50" alt="" /></div></td>
  </tr>
  <tr>
    <td><div class="TarjetasDiv" id="TarjetaDiv">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tarjetas">
        <tr>
          <td colspan="5" class="texto3">Aceptamos:</td>
        </tr>
        <tr>
          <td></td>
          <td width="36%"><div class="fotitos" id="visa"><img src="Im&aacute;genes/visa.jpg" width="62" height="50" alt="" /></div></td>
          <td></td>
          <td width="35%"><div class="fotitos" id="mastercard"><img src="Im&aacute;genes/mastercad.jpg" width="62" height="50" alt="" /></div></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><div class="fotitos" id="amExpress"><img src="Im&aacute;genes/americanExpress.jpg" width="62" height="50" alt="" /></div></td>
          <td></td>
          <td><div class="fotitos" id="afiliateVisa"><img src="Im&aacute;genes/afiliate_banco_m.gif" width="62" height="50" alt="" /></div></td>
          <td></td>
        </tr>
      </table>
    </div></td>
  </tr>
  <tr>
    <td colspan="3"><div id="Footer">
      <div id="copyright">Copyright 2010 &copy; <br/>
        Todos los derechos reservados</div>
      <div id="botoneraFooter">Av. Cipriano Dulanto (Ex Av. La Mar) 2376 - Pando San Miguel<br />
        Tel: 5616127 - 5616128 | Nextel:   121 * 4598 </div>
    </div></td>
  </tr>
  <tr>
    <td colspan="2" id="footer"><img src="Im&aacute;genes/spacer.gif" width="255" height="1" alt="" /></td>
    <td id="footer"><img src="Im&aacute;genes/spacer.gif" width="755" height="1" alt="" /></td>
  </tr>
</table>
</body>
</html>
